@model IEnumerable<BioData_Update.Models.EntriesModel>
@{
    ViewBag.Title = "Awaiting My Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grid = new WebGrid(Model, canPage: false);
}
@* The line below is crucial. It is used for showing alerts on submission/authentiation errors
    Please do not delete
*@
@Html.Raw(ViewBag.PostBackMessage)

@ViewBag.ErrorMessage

<h4>@ViewBag.Title</h4>

<hr />

@if (Model != null && Model.Count() > 0)
{

    ViewBag.HasGrid = true;
    int rowNum = 0;

    @grid.GetHtml(

        tableStyle: "viewTable",
        fillEmptyRows: false,
        headerStyle: "viewTableHeader",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",

        columns: new[] {
            grid.Column("S/No",format: item => rowNum = rowNum + 1),
            grid.Column("Staff Name",format:(item) => Html.ActionLink((string) item.StaffName, "OpenPassportEntry", "MyEntries",new { WorkflowID = @item.WorkflowID,RequestStageId=@item.RequestStageId },null)),
            grid.Column("Branch","Branch Name"),
            grid.Column("RequestStage","Request Stage"),
            grid.Column("UploadStatus","Upload Status"),
            grid.Column("DateSubmitted","Date Submitted"),
            grid.Column("RequestStageId",
                        "Approvers",
                        format: @<a href="javascript:getApprovers('@item.WorkflowID','@item.RequestStageId');"><span class="glyphicon glyphicon-user"></span></a>,
                        style:"text-center"
                        ),
            //grid.Column("Action",format:(item) => Html.ActionLink((string) item.Action, "OpenPassportEntry", "MyEntries",new { WorkflowID = @item.WorkflowID,RequestStageId=@item.RequestStageId },null))
       })
}
else
{
    <p>Nothing to display</p>
}

<script language="javascript" type="text/javascript">

    function getApprovers(workflowid, requeststageid) {
        $.ajax({
            type: "POST",
            //url: "../MyEntries/GetApprovers",
            url: '@Url.Action("GetApprovers", "MyEntries")',
            traditional: true,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ WorkflowID: workflowid, RequestStageID: requeststageid }),
            success: function (data) {
                //console.log(data)
                //alert(data);
                if (data != undefined || data[0] != null) {
                    //alert(data.name);
                    if (data.employee_number == "" || data.employee_number == "Error") {
                        alert(data.name);
                    } else {
                        data = "APPROVERS:\n\n" + data.toString().replace(/,/g, "\n")
                        alert(data);
                    }
                }
            }, error: function (data) {
                //console.log(data)
            }
        });
    }

</script>


